body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16pt;
    font-weight: 250;
}

@font-face {
    font-family: "titleFont";
    src: url("../assets/fonts/mythology_of_egypt/Mythology\ Of\ Egypt.otf");
}

h1 {
    font-family: "titleFont", sans-serif;
    font-size: 80pt;
}
h2 {
    font-weight: 700;
    font-size: 40pt;
}
h3 {
    text-transform: uppercase;
    font-size: 18pt;
    font-weight: 400;
}
h4 {
    font-size: 18pt;
    font-weight: 800;
    line-height: 1.5;
}

/* Header and Navbar */
header {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    border-radius: 40px;
    background-color: rgba(211, 211, 211, 0.85);
    margin: 20px 10px;
}
.logo {
    display: flex;
    justify-content: left;
    width: 280px;
    display: block;
}
.navLinks {
    display: flex;
    gap: 20px;
}
.navbar a {
    text-decoration: none;
    color: #4d4d4d;
    font-size: large;
    font-weight: 600;
}
#actLink {
    color: #15d5f5;
}

.search {
    width: max-content;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    background: #ffffff;
    transition: box-shadow 0.25s;
}

.search:focus-within {
    box-shadow: 0 0 5px rgba(77, 77, 77, 0.75);
}

.searchItem {
    background-color: transparent;
    border: none;
}

.bar {
    border-right: solid #4d4d4d 2px;
}
.search button {
    color: #4d4d4d;
}
/* .searchInput {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding: 0px 14px;
    background: transparent;
    border: none;
    outline: none;
    flex: 1;
}

.searchInput::placeholder,
.searchIcon {
    color: rgba(0, 0, 0, 0.75);
} */

/* Buttons */
.buttonBase {
    margin-top: 15px;
    padding: 25px 50px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    font-size: large;
    font-weight: 750;
}

.buttonBase a {
    text-decoration: none;
    color: #eeeeee;
    font-weight: bold;
}

/* Light Blue Button */
.buttonBlue {
    background-color: #15d5f5;
}

/* Yellow Button */
.buttonYellow {
    background-color: #e9ad1c;
}

.buttonDark {
    background-color: #002d68;
}

/* Hero card */
.hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    height: 350px;
    padding-bottom: 50px;
}

.hero h1 {
    color: #ffffff;
}

/* Global Card Styling */
.cardBlue {
    background-color: #002d68;
    color: #ffffff;
}
.cardBlue h3 {
    color: #e9ad1c;
}

.cardWhite {
    color: gray;
}
.cardWhite h3 {
    color: #15d5f5;
}

.cardYellow {
    background-color: #e9ad1c;
    color: #ffffff;
}

/*
Homepage/Index
*/
/* Homepage Hero Card */
.homeHero {
    background-image: url(../assets/img/homeHeader.png);
    padding: 100px 15dvh;
    padding-left: 900px;
    padding-right: 110px;
    padding-bottom: 75px;

    height: 110dvh;
    text-align: left;
}

.homeHero h1 {
    color: #e9ad1c;
}

.homeHero p {
    font-family: "Metamorphous", sans-serif;
    font-size: 20pt;
}

.homeCardA {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 90px 20dvh;
    gap: 100px;
    height: 100vh;
}

.homeCardB {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 60px;
    padding-left: 150px;
    padding-right: 80px;
    gap: 50px;
    height: 700px;
}
.homeCardB h2 {
    color: #2f004f;
}
.homeCardB img {
    border-radius: 20px;
}

.homeCardC {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 90px 40dvh;
    height: 975px;
}

.pastLegendsCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
}

.pastLegendsCard img {
    border-radius: 25px;
}

/*
Contact Page
*/
.contactHero {
    background-image: url(../assets/img/contactHeader.png);
}
.cardContact h2 {
    color: #002d68;
}
.contactAbout {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
    gap: 80px;
    /* height: 700px; */
}

.contactAbout img {
    border-radius: 25px;
}

.contactSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.contactLeft {
    flex: 0.9;
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.contactMap iframe {
    border-radius: 25px;
}

/* Contact Form styling */
.contactForm,
.contactForm h2 {
    color: #ffffff;
}
.contactForm form {
    padding: 15px;
    padding-bottom: 35px;
    gap: 10px;
    /* background-color: #f4f4f4; */
    border-radius: 35px;
    background-image: url(../assets/img/formBackground.png);
}

.formElement {
    width: 100%;
    padding: 10px;
}

.contactForm input,
.contactForm select,
.contactForm textarea {
    width: 95%;
    padding: 20px 0;
    padding-left: 25px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-family: "Poppins";
}

.buttonContact {
    margin-left: 10px;
}

/* About/Adopt Page */
.aboutHero {
    background-image: url(../assets/img/adoptHeader.png);
}

.cardAdoptTop {
    padding: 50px;
    text-align: center;
}
.cardAdoptTop h2 {
    font-family: "Metamorphous", sans-serif;
    line-height: 1.8;
    color: #e9ad1c;
}

/* FOOTER */
footer {
    align-items: center;
    text-align: left;

    background-color: #ffffff;
    color: gray;
    padding: 50px 90px;
}

footer h4 {
    color: #000000;
    font-size: large;
}

.footerTop {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
    padding: 20px;
}

.footLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footLinks a {
    text-decoration: none;
    color: grey;
}

.socialLinks {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.footerBot {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

.footerRight {
    display: flex;
    gap: 20px;
}

.footerBot a {
    text-decoration: none;
    color: grey;
}
